.🧶 {
    animation: 🧶 2s ease infinite;
    display: block;
    font-size: 5rem;
}

h1:has(> .🧶) {
    font-weight: normal;
    border: 0;
}

div:has(> h1 > .🧶) {
    margin: 32px 0;
}

span:has(+ .🧶) {
    font-style: italic;
    font-size: 2rem;
}

@keyframes 🧶 {
    0% {
        scale: 1;
        rotate: 0deg;
    }
    33% {
        rotate: -10deg;
    }
    50% {
        scale: 1.06;
    }
    66% {
        rotate: 10deg;
    }
    100% {
        scale: 1;
        rotate: 0deg;
    }
}